body {
    background-color: black;
}

.card {
    background-color: rgb(0, 0, 68);
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    color: greenyellow;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleHeader {
    text-align: left;
    color: greenyellow;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Logo{
    text-align: right;
    width: 20%;
    height: 20%;
}

.flex-container { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
} 

.subdivition { 
    border-color: greenyellow; 
    border-style: solid; 
    border-radius: 15px; 
    border-width: 2px; 
    margin: 2%; 
    flex: 1;
    color: greenyellow;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.3s
}

.subdivition:hover{
    transform: scale(1.1);
}