header {
    text-align: center;
}

.ultratitle {
    padding: 2%;
    background-color: #3c4858 ;
    color: #338eda ;
}

.subtitleprincipal {
    display: flex;
    align-items: center;
    gap: 3%; 
}

.imagenLogoHackClub {
    padding-top: -1%;
}

.headline {
    font-size: 150%;
    margin: 0;
    padding: 1.5%;
    font-weight: bold;
}

.boton {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card {
    display: flex;
    align-items: center;
    margin: 2%;
}

.card p {
    flex: 1;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    border-radius: 4%;
    box-shadow: 2% rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

.row img {
    width: 60%;
    height: 40%;
    border-radius: 5%;
}